* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  letter-spacing: 0.1rem;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 3.2rem;
  margin: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.render-btn {
  margin: 20px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  letter-spacing: 0.15rem;

  & label {
    font-size: 2rem;
    font-weight: 600;
  }

  & input {
    font-size: 1.3rem;
    padding: 8px 18px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
  }
}

button {
  padding: 8px 15px;
  font-size: 1.9rem;
  font-weight: 600;
  background-color: transparent;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  border: 1px solid #2c2c2ce8;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  scale: 0.9;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  cursor: pointer;

  &:hover {
    scale: 1;
    background-color: #2a2a2a;
    color: #fff;
  }
}

.container {
  width: 400px;
  background-color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
